[user]
	name = Jay Kim
	email = keyworks@gmail.com
[core]
	editor = vi
[color]
  	ui = auto
[core]
  	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[diff]
	tool = vimdiff
[merge]
	conflictstyle = "diff3"
[github]
	user = keyworks
